<p id="notice"><%= notice %></p>


<p>
  <b>Bookingtime:</b>
  <%= @booking.created_at %>
</p>

<p>
  <b>Otp:</b>
  <%= @booking.otp %>
</p>

<p>
  <b>Brand chosen:</b>
  <%= @booking.brandName %>
</p>

<p>
  <b>Price:</b>
  <%= @booking.price %>
</p>


