<%= render 'nav_vendors' %>
<h1>Available bookings</h1>
<div class="trip-listing">
<% @transactions.each do |transaction|%>
<%if transaction.accepted == nil or transaction.accepted == false%>
<p>
  <h3>Customer id:</h3>
  <%= transaction.customer_id %>



  <p>Brand id:</p>
  <%= transaction.brandId%>


  <p>Price:</p>
  <%= transaction.price%>


  <%= link_to 'Accept',  action: "accept", id: transaction.id %> 
  <%= link_to 'Decline',  action: "decline" %> 
 
</p>
<%end%>
<%end%>
</div>
<%= link_to 'Show ongoing',  action: "show" , id: @vendor.id %> 