<h1>Available bookings</h1>
<% @transactions.each do |transaction|%>
<%if transaction.accepted == nil or transaction.accepted == false%>
<p>
  <b>Customer id:</b>
  <%= transaction.customer_id %>
</p>

<p>
  <b>Brand id:</b>
  <%= transaction.brandId%>
</p>
<p>
  <b>Price:</b>
  <%= transaction.price%>
</p>
<p>
  <%= link_to 'Accept',  action: "accept", id: transaction.id %> 
  <%= link_to 'Decline',  action: "decline" %> 
 
</p>


<%end%>

<%end%>
<%= link_to 'Show ongoing',  action: "show" , id: @vendor.id %> 