<p id="notice"><%= notice %></p>
<h1>List of transactions belonging to current Vendor</h1>
<%@transactions.each do |transaction|%>

<p>
  <b>Name:</b>
  <%= transaction.id %>
</p>

<p>
  <b> Vendor name:</b>
  <%= Vendor.find(transaction.vendor_id).name %>
</p>

<p>
  <b>Customer id:</b>
  <%= transaction.customer_id %>
</p>

<p>
  <b>Brand id:</b>
  <%= transaction.brandId%>
</p>
<p>
  <b>Price:</b>
  <%= transaction.price%>
</p>
<p>
  <b>Ordered at:</b>
  <%= transaction.created_at%>
</p>
<p>
  
  <%= link_to 'Finish booking', action: "finish_transaction" ,id: transaction.id %>
  <%= link_to 'Cancel', action: "decline" ,id: transaction.id ,vendor_id: transaction.vendor_id %>
</p>

<%end%>
<%= link_to 'New Bookings',  action: "new_booking" ,id: @vendor.id%> 

<%= link_to 'Back', vendors_path %>