<p id="notice"><%= notice %></p>

<p>
  <b>Vendor:</b>
  <%= @vendors_ward.vendor_id %>
</p>

<p>
  <b>Ward:</b>
  <%= @vendors_ward.ward %>
</p>

<p>
  <b>Numberoforders:</b>
  <%= @vendors_ward.numberOfOrders %>
</p>


<%= link_to 'Edit', edit_vendors_ward_path(@vendors_ward) %> |
<%= link_to 'Back', vendors_wards_path %>
