<%= form_for(@brandlist) do |f| %>
  <% if @brandlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brandlist.errors.count, "error") %> prohibited this brandlist from being saved:</h2>

      <ul>
      <% @brandlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brandName %><br />
    <%= f.text_field :brandName %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :Price %><br />
    <%= f.number_field :Price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
