<h1>Listing brandlists</h1>

<table>
  <tr>
    <th>Brandname</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brandlists.each do |brandlist| %>
  <tr>
    <td><%= brandlist.brandName %></td>
    <td><%= brandlist.quantity %></td>
    <td><%= brandlist.Price %></td>
    <td><%= link_to 'Show', brandlist %></td>
    <td><%= link_to 'Edit', edit_brandlist_path(brandlist) %></td>
    <td><%= link_to 'Destroy', brandlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brandlist', new_brandlist_path %>
