<p id="notice"><%= notice %></p>

<p>
  <b>Brandname:</b>
  <%= @brandlist.brandName %>
</p>

<p>
  <b>Quantity:</b>
  <%= @brandlist.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @brandlist.Price %>
</p>


<%= link_to 'Edit', edit_brandlist_path(@brandlist) %> |
<%= link_to 'Back', brandlists_path %>
